@import "../base/default";
@import "../abstracts/variables";
@import "../abstracts/mixin";

.footer {
    width: 100%;
    background: $color-background;
    padding: 53px 16px 40px;

    @media (min-width: $bp-md) {
      padding: 96px 25px 60px;
    }
  
    @media (min-width: $bp-lg) {
      padding: 78px 263px 163px;
    }
  }

.footer__container {
  @include flex (row, center, center);
  gap: 10px;
  width: 100%;
  height: 72px;
  padding: 10px 30px;
  border-radius: 139px;
  border: 1px solid $color-white;

  & img {
    @media (min-width: $bp-md) {
      width: 108px;
      height: 108px;
    }
  }

  @media (min-width: $bp-md) {
    gap: 45px;
    height: 150px;
  }

  @media (min-width: $bp-lg) {
    height: 192px;
  }
}

.footer__wrapper {
  @include flex (column, center, flex-start);
  gap: 4px;

  @media (min-width: $bp-md) {
    gap: 17px;
  }

  & h3 {
    color: $primary-color;
    text-align: center;
    font-family: $font-main;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;

    @media (min-width: $bp-md) {
      font-size: 48px;
    }
  }

  & p {
    color: $primary-color;
    text-align: center;
    font-family: $font-secondary;
    font-size: 15px;
    font-weight: 500;
    position: relative;

    @media (min-width: $bp-md) {
      font-size: 24px;
    }
  }

  & p::after {
    content: "";
    background-image: url("../img/arrow.png");
    display: block;
    width: 34px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 120px;

    @media (min-width: $bp-md) {
      left: 185px;
      top: 5px;
    }
  }
}

.footer__social-list {
  margin-top: 113px;
  @include flex (row, center, center);
  gap: 34px;

  @media (min-width: $bp-md) {
    margin-top: 60px;
  }

  @media (min-width: $bp-lg) {
    margin-top: 163px;
  }
}

.footer__text {
  margin-top: 21px;
  text-align: center;
  color: $primary-color;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 500;

  @media (min-width: $bp-md) {
    font-size: 16px;
  }
}