@import "../base/default";
@import "../abstracts/variables";

.good-design {
    width: 100%;
    box-sizing: border-box;
    background-image: url("../img/rectangle8_mobile.png");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: $bp-md) {
        background-image: url("../img/rectangle8_tablet.png");
      }
    
      @media (min-width: $bp-lg) {
        background-image: url("../img/rectangle8_desktop.png");
      }
}

.good-design__title {
    padding: 180px 16px 173px;
    color: $primary-color;
    text-align: center;
    font-size: 24px;
    font-weight: 700;

    @media (min-width: $bp-md) {
        padding: 274px 31px 294px;
        font-size: 48px;
    }
    
      @media (min-width: $bp-lg) {
        padding: 303px 191px 323px;
    }
}

