@import "../base/default";
@import "../abstracts/variables";


.graphics-design {
    background: $color-background;
}

.graphics-design__title {
    color: $primary-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding: 58px 15px 28px 10px;

    @media (min-width: $bp-md) {
        font-size: 80px;
        padding: 82px 32px 38px;
    }
}

.graphics-design__cards {
    padding: 0 21px 93px 16px;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
    grid-gap: 26px;
    grid-template-areas: "first"
                        "second"
                        "third";

    @media (min-width: $bp-md) {
        padding: 0 32px 129px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "first first"
                            "second third";
    }

    @media (min-width: $bp-lg) {
        padding: 0 190px 138px;
    }
}

.graphics-design__grid-item-first {
    @media (min-width: $bp-md) {
        grid-column: span 2;
    }
}

.graphics-design__grid-item-first,
.graphics-design__grid-item-second,
.graphics-design__grid-item-third {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;

    &:before {
        content: '';
        position: absolute;
        background-image: url("../img/soft_star.png");
        background-repeat: no-repeat;
        background-size: 45%;
        width: 100%;
        height: 100%;
        top: 25%;
        left: 25%;
    
        @media (min-width: 500px) {
            background-size: 35%;
            top: 20%;
            left: 35%;
        }
    
        @media (min-width: $bp-md) {
            background-size: 90%;
            width: 227px;
            height: 227px;
            top: 20%;
            left: 40%;
        }
    
        @media (min-width: $bp-lg) {
            background-size: 100%;
            width: 268px;
            height: 268px;
            top: 16%;
            left: 37%;
        }
    }    
}

.graphics-design__item-first {
    grid-area: first;
}

.graphics-design__item-second {
    grid-area: second;
}

.graphics-design__item-third {
    grid-area: third;
}

.graphics-design__cards img {
    width: 100%;
}

.graphics-design__grid-item-second::before {
    background-image: url("../img/butterfly.png");
}

.graphics-design__grid-item-third::before {
    background-image: url("../img/asterisk.png");
}

.graphics-design__grid-item-second::before,
.graphics-design__grid-item-third::before {
    @media (min-width: 500px) {
        background-size: 30%;
        top: 20%;
        left: 35%;
    }

    @media (min-width: $bp-md) {
        background-size: 90%;
        width: 183px;
        height: 177px;
        left: 33%;
    }

    @media (min-width: $bp-lg) {
        background-size: 95%;
        width: 233px;
        height: 225px;
        top: 16%;
        left: 30%;
    }
}