@import "../base/default";
@import "../abstracts/variables";
@import "../abstracts/mixin";

.banner {
  width: 100%;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  background-image: url("../img/rectangle_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $bp-md) {
    background-image: url("../img/rectangle_tablet.png");
  }

  @media (min-width: $bp-lg) {
    background-image: url("../img/rectangle_desktop.png");
  }
}

.banner__navigation {
  @media (min-width: $bp-lg) {
    &:hover {
      background-color: $color-background; 
    }
  }
}

.banner__navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__hope {
  margin: 27px 0 27px 16px;

  @media (min-width: $bp-md) {
    margin: 38px 0 38px 34px;
  }

  @media (min-width: $bp-lg) {
    margin: 27px 0 27px 191px;
  }
}

.banner__header-menu {
  margin: 27px 16px 27px 0;

  @media (min-width: $bp-md) {
    margin: 38px 31px 38px 0;
  }

  @media (min-width: $bp-lg) {
    display: none;
  }
}

.banner__list {
  display: none;

  @media (min-width: $bp-md) {
    display: none;
  }

  @media (min-width: $bp-lg) {
    @include flex (row, space-between, flex-end);
    gap: 20px;
    margin: 27px 363px 27px 0;
  }

  & a {
    position: relative;
    color: $primary-color;
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px 10px 35px;
    border-radius: 20px;
    border: 1px solid $primary-color;
  }
}

.banner__link-first::before,
.banner__link-second::before,
.banner__link-third::before,
.banner__link-fourth::before {
  content: '';
  position: absolute;
  background-image: url("../img/header_item1.png");
  width: 16px;
  height: 16px;
  top: 13px;
  left: 10px;
}

.banner__link-second::before {
  background-image: url("../img/header_item2.png");
}

.banner__link-third::before {
  background-image: url("../img/header_item3.png");
}

.banner__link-fourth::before {
  background-image: url("../img/header_item4.png");
}