@import "../abstracts/variables";

.main-container__title {
    margin-top: 92px;
    color: $primary-color;
    font-family: $font-main;
    font-size: 48px;
    font-weight: 700;
    padding: 412px 28px 149px 21px;
    background-image: url("../img/rectangle_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  
    @media (min-width: $bp-md) {
      background-image: url("../img/rectangle_tablet.png");
      font-size: 80px;
      padding: 273px 213px 130px 34px;
    }
  
    @media (min-width: $bp-lg) {
      background-image: url("../img/rectangle_desktop.png");
      padding: 402px 403px 119px 191px;
    }
  }