@import "../base/default";
@import "../abstracts/variables";

.meet {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: $color-background;
    padding: 72px 17px 76px;
    overflow: hidden;
    transition: transform 0.3s ease;

    &::after {
        content: "";
        display: block;
        background-image: url("../img/ellipse.png");
        background-size: 80%;
        background-repeat: no-repeat;
        width: 100%;
        top: 20%;
        left: 65%;
        position: absolute;

        @media (min-width: 420px) {
            background-size: 65%;
            height: 512px;
            top: 0;
            left: 60%;
        }

        @media (min-width: $bp-md) {
            background-size: 50%;
            height: 500px;
            left: 65%;
        }

        @media (min-width: 1000px) {
            background-size: 35%;
            left: 75%;
        }

        @media (min-width: $bp-lg) {
            background-size: 30%;
            left: 80%;
        }
    }

    @media (min-width: $bp-md) {
        padding: 101px 195px 101px 33px;
    }
    
    @media (min-width: $bp-lg) {
        padding: 97px 709px 102px 191px;
    }

    & p {
        color: $primary-color;
        font-family: $font-secondary;
        font-size: 15px;
        font-weight: 500;

        @media (min-width: $bp-md) {
            font-size: 16px;
        }
    }
}

.meet__title {
    color: $color-secondary;
    font-size: 36px;
    font-weight: 700;

    @media (min-width: $bp-md) {
        font-size: 48px;
    }
}

.meet__list {
    display: flex;
    flex-direction: row;
    gap: 14px;

    @media (min-width: $bp-md) {
        gap: 96px;
    }
}

.meet__item {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & h3 {
        color: $primary-color;
        font-size: 36px;
        font-weight: 700;

        @media (min-width: $bp-md) {
            font-size: 48px;
        }
    }

    & p {
        color: $primary-color;
        font-family: $font-secondary;
        font-size: 16px;
        font-weight: 700;
    }
}