@import "../abstracts/variables";
@import "./base/default";

.project-section {
    height: 100%;
    background: #3C3C3C;
}

.project-section__list {
    @include flex(row, center, center);
    gap: 40px;
    padding: 52px 21px 85px 16px;
    overflow: hidden;

    @media (min-width: $bp-md) {
        padding: 52px 33px 132px;
    }

    @media (min-width: $bp-lg) {
        & li:nth-child(1) {
            order: 2;
        }

        & li:nth-child(2) {
            order: 1;
        }

        & :nth-child(3) {
            order: 3;
        }
          
        padding: 86px 195px;
    }
}

.project-section__container {
    padding: 52px 16px;

    @media (min-width: $bp-md) {
        padding: 52px 32px;
    }

    @media (min-width: $bp-lg) {
        padding: 86px 195px 0;
    }
}

.project-section__wrapper {
    width: 100%;
    padding: 16px;
    border-radius: 24px;
    background: $color-white;
}

.card-section__img-first {
    width: 100%;
}

.product-section__card {
    padding: 16px;
    border-radius: 24px;
    background: $color-white;

    &:nth-last-child(-n+2) {
        display: none;
    }

    @media (min-width: $bp-md) {
        &:nth-last-child(n+2) {
        display: block;
    }
    }

    @media (min-width: $bp-lg) {
        &:nth-last-child(-n+2) {
        display: block;
    }
    }
}

.project-section__info {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.project-section__title,
.project-section__title-first {
    color: #565656;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;

    @media (min-width: $bp-md) {
        font-size: 32px;
    }
}

.project-section__title-first {
    font-size: 32px;

    @media (min-width: $bp-md) {
        font-size: 40px;
    }
}

.project-section__text,
.project-section__text-first {
    color: $color-black;
    font-family: $font-secondary;
    font-size: 15px;
    font-weight: 500;

    @media (min-width: $bp-md) {
        font-size: 16px;
    }
}

.project-section__text-first {
    font-weight: 700;
}

.product-section__link,
.product-section__link-first {
    position: relative;
    display: inline-block;
    width: 100%;

    &::before {
        content: "";
        display: block;
        background-image: url("../img/arrow-up.png");
        background-repeat: no-repeat;
        background-size: 95%;
        width: 56px;
        height: 56px;
        top: 3%;
        left: 75%;
        position: absolute;
    }
}

.product-section__link-first::before{
    @media (min-width: $bp-md) {
        top: 5%;
        left: 88%;
    }

    @media (min-width: $bp-lg) {
        left: 92%;
    }
}

.product-section__image-second {
    border-radius: 13px;
}

.product-section__image-second,
.product-section__image-third,
.product-section__image-fourth {
    width: 100%;
}